<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/login}"
      th:object="${Person}" method="POST">
    Username:
    <input type="text" th:field="*{username}" />
    <br/>
    Password:
    <input type="password" th:field="*{password}" />
    <br/>
    <input type="submit" value="Login" />
</form>

<br/>


</body>
</html>