<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Outlet Page</title>
</head>
<body>

<a href="/outlet/all">Go to All Outlets</a>
<br/>
<br/>
<h1>Outlet:</h1>

<h th:utext="'Name: ' + ${name}"></h>
<br/>
<h th:utext="'Address: ' + ${address}"></h>
<br/>
<h th:utext="'Cuisine: ' + ${cuisine}"></h>
<br/>
<h th:utext="'Rating: ' + ${rating}"></h>
<br/>
<h1>Reviews</h1>

<div>
    <table border="1">
        <tr>
            <th>Comment</th>
            <th>Rating</th>
        </tr>
        <tr th:each="review : ${reviews}">
            <td th:utext="${review.comment}">...</td>
            <td th:utext="${review.rating}">...</td>
            <td><a th:href="'/review/id/' + ${review.id}">View</a></td>
        </tr>
    </table>
</div>
<br/>
<br/>
<a href="/review/add">Add Review</a>
<br/>
<a th:object="${outlet}" th:href="'/outlet/delete?delete_id=' + ${outlet.id}">Delete Outlet</a>


<br/>
<br/>
<a href="/">Logout</a>
</body>
</html>