<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SignUp</title>
</head>
<body>
<h1>Signup Details:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/signup}"
      th:object="${Person}" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Email ID:
    <input type="email" th:field="*{email}" />
    <br/>
    Address:
    <input type="text" th:field="*{address}" />
    <br/>
    Date of Birth:
    <input type="text" th:field="*{dob}" />
    <br/>
    Access Type
    <input type="number" th:field="*{access}" />
    <br/>
    Username:
    <input type="text" th:field="*{username}" />
    <br/>
    Password:
    <input type="password" th:field="*{password}" />
    <br/>
    <input type="submit" value="Login" />
</form>

<br/>

</body>
</html>